# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo
*.pyd

# Entorno virtual
venv/
env/
*.venv

# Configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de dependencias
Pipfile
Pipfile.lock
poetry.lock

# Archivos de logs y depuración
*.log
logs/
debug.log
nohup.out

# Configuración de FastAPI y Uvicorn
instance/
*.db
*.sqlite3

# Variables de entorno
.env
.env.local
.env.*.local
.envrc

# Archivos de Docker
docker-compose.override.yml
.dockerignore

# Archivos de cobertura de pruebas
.coverage
*.cover
htmlcov/
.cache/
pytest_cache/

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de compilación y distribución
build/
dist/
*.egg-info/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
